name: Deploy .NET 8 TimeReport-Dev to VPS

on:
  pull_request:
    branches:
      - develop
    types:
      - closed
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup SSH agent
        uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{ secrets.VPS_SSH_KEY }}

      - name: Add VPS to known_hosts
        run: ssh-keyscan -H ${{ secrets.VPS_IP }} >> ~/.ssh/known_hosts

      - name: Copy project PROD in VPS
        run: |
          rsync -avz --delete --exclude '.git' ./ ${{ secrets.VPS_USER }}@${{ secrets.VPS_IP }}:${{ secrets.VPS_DEPLOY_PATH }}/isc.time.report.be.dev

      - name: Deploy PROD to VPS  
        run: |
          ssh ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }} << 'EOF'
            cd ${{ secrets.VPS_DEPLOY_PATH }}/isc.time.report.be.prod/isc.time.report.be

            docker compose \
              -f docker-compose.base.yml \
              -f docker-compose.prod.yml \
              build --no-cache

            docker compose \
              -f docker-compose.base.yml \
              -f docker-compose.prod.yml \
              up -d --force-recreate
          EOF

