name: ISC.TimeReport.FE-DEV-CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: self-hosted
    defaults:
      run:
        shell: powershell

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET 8 SDK
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: cd isc.time.report.be
      
      - name: Restore dependencies
        run: dir 
      
      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Publish
        run: dotnet publish --configuration Release --output ./publish

      - name: Deploy to IIS
        run: |
          $destination = 'C:\inetpub\wwwroot\YourApp'
          if (Test-Path $destination) {
            New-Item -ItemType File -Path "$destination\app_offline.htm" -Force
          } else {
            New-Item -ItemType Directory -Path $destination -Force
          }
          Copy-Item -Path ".\publish\*" -Destination $destination -Recurse -Force
          Remove-Item "$destination\app_offline.htm" -Force
